<h1>{{this.name}}</h1>
<div class="content">
  <ng-container
    [ngTemplateOutlet]="title"
    [ngTemplateOutletContext]='{name: "Danh sách phim từ nguồn K", form: ""}'
  ></ng-container>
</div>
<div class="content">
  <ng-container
    [ngTemplateOutlet]="title"
    [ngTemplateOutletContext]='{name: "Danh sách phim đã chọn", form: ""}'
  ></ng-container>
</div>

<ng-template #title let-name="name" let-form="form">
  <div class="title">
    <h3>{{name}}</h3>
    <p-button icon="pi pi-filter" [rounded]="true"></p-button>
  </div>
</ng-template>
