<p-table
  [value]='this.list'
  [paginator]="true"
  [rows]='this.limit'
  [showCurrentPageReport]="true"
  [tableStyle]="{ 'min-width': '50rem'}"
  currentPageReportTemplate=""
  [rowsPerPageOptions]="[10, 25, 50]"
  (onPage)="pageChange($event)"
  [scrollable]="true"
  scrollHeight="700px"
  [totalRecords]="this.totalItems"
  [lazy]="this.lazy"
>
  <ng-template pTemplate="header">
    <tr>
      <ng-container *ngFor="let item of this.header">
        <th style="text-align: center">{{item}}</th>
      </ng-container>
      <ng-content select="header"></ng-content>
    </tr>
  </ng-template>
  <ng-template pTemplate="body" let-item let-index="rowIndex">
    <ng-container
      [ngTemplateOutlet]="this.body"
      [ngTemplateOutletContext] = "{item: item, index: index}"
    ></ng-container>
  </ng-template>
</p-table>
