<div class="main">
  <div class="menu">
      <div class="logo"></div>
      <ul>
        <ng-container *ngFor="let item of this.paths">
          <li [routerLink]='item.path' [routerLinkActive]="'active'">
            {{item.name}}
          </li>
        </ng-container>
      </ul>
  </div>
  <div class="content">
    <div class="header">
      <div class="info-user" (click)="op.toggle($event)">
        <div>
          <p>Lanhvv</p>
          <p>Admin</p>
        </div>
        <div>
          <p-avatar
            label="P"
            size="normal"
            [style]="{ 'background-color': '#2196F3', color: '#ffffff' }"
          ></p-avatar>
        </div>
      </div>
    </div>
    <div class="body-content">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>

<p-overlayPanel #op>
  <ul class="op">
    <li>Thông tin</li>
    <li (click)="this.logout()">Đăng xuất</li>
  </ul>
</p-overlayPanel>
